<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WCDATS</title>
  </head>
  <body>
    <header>
      <div class="">
        <a href="/"><img src="" alt="團隊Icon" /></a>
      </div>
      <div class="">
        <a href="">企業合作</a>
        <a href="">關於我們</a>
        <a href="">聯絡資訊</a>
        <a href="">茶行登入/註冊</a>
      </div>
    </header>
    <%- body %>
    <footer>Phone: 0000000000</footer>
  </body>
</html>
